@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('ttf'),
		 url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
