mixin Social(className)
	div(class=className + ' social')
		a(href='#' class='social__link')
			include ../../../img/icons/vk.svg
		a(href='#' class='social__link')
			include ../../../img/icons/instagram.svg